<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout::header">
    <title>Blog Posts:</title>
</head>

<body>
<div th:replace="layout::nav"></div>

<div align="center" class="container col-md-6 col-md-offset-3">
    <h2>Post Feed</h2>
    <br>
    <br>
    
    <table class="table" style="width:100%">
        <tr>
            <th sec:authorize="hasAuthority('ADMIN')">Select</th>
            <th>Title</th>
            <th>Profile Picture</th>
            <th>Date</th>
            <th>Username</th>
        </tr>

        <tr th:each="post : ${posts}">
            <td><a th:href="@{/post/{id}(id=${post.id})}">[[${post.title}]]</a></td>
            <td><img th:src="${post.user.gravatar}"></td>
            <td th:text="${post.posteddate}"></td>
            <td><a th:href="@{/user/{id}(id=${post.user.username})}">[[${post.user.username}]]</a></td>
        </tr>
    </table>
</div>



<div th:replace="layout::footer"></div>
</body>
</html>